<launch>

  <!-- Run the map server -->
 <arg name="map" default="custom_map"/>
 <arg name="map_file" default="$(find ommp_navigation)/maps/$(arg map).yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find ommp_navigation)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <!--include file="$(find ommp_navigation)/launch/include/move_base.launch" /-->

</launch>
