<?xml version="1.0"?>
<launch>

  <arg name="robot" default="ommp_sim"/> <!--ommp_real-->
  <arg name="sim" default="true"/>       <!--false-->
    <!-- send urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro '$(find ommp_description)/urdf/robots/$(arg robot)/$(arg robot).urdf.xacro' sim:=$(arg sim)" />
  <!--Start robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  
</launch>
