<?xml version="1.0" ?>
<launch>

  <arg name="sim" default="false"/>
  <arg name="real" default="false"/>

  <group if="$(arg sim)">
    <include file="$(find ommp_sim_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="info" value="true"/>
      <arg name="load_robot_description" value="false" />
    </include>   
  </group>
  <group if="$(arg real)">
    <include file="$(find ommp_real_moveit_config)/launch/move_group.launch">
      <arg name="publish_monitored_planning_scene" value="true" />
      <arg name="allow_trajectory_execution" value="true"/>
      <arg name="info" value="true"/>
      <arg name="load_robot_description" value="false" />
    </include>   
  </group>


</launch>
