<?xml version="1.0" encoding="UTF-8"?>
<launch>
    
    <!--MoveToPose Action Server for the Arm-->
    <node pkg="ommp_handlers" type="moveCartesian_arm_handler_server_node" name="moveCartesian_arm_handler_server_node" output="screen">
        <param name="move_group" type="str" value="arm" />
    </node>
    <!--Joint Action Servers for the Arm-->
    <node pkg="ommp_handlers" type="moveJoints_handler_server_node" name="moveJoints_both_arm_handler_server_node" output="screen">
        <param name="move_group" type="str" value="arm" />
        <param name="robot" type="str" value="arm" />
        <param name="prefix" type="str" value="arm" />
    </node>
    <!--Joint Action Servers for the Gripper-->
    <node pkg="ommp_handlers" type="moveJoints_handler_server_node" name="moveJoints_gripper_handler_server_node" output="screen">
        <param name="move_group" type="str" value="gripper" />
        <param name="robot" type="str" value="gripper" />
        <param name="prefix" type="str" value="gripper" />
    </node>

    <!--Service Server to find the distance between two frames-->
    <node pkg="ommp_handlers" type="get_frame_distance_server_node" name="get_frame_distance_server_node" output="screen"/>
    <!--Service Server to Add a Collsion box in the Planning Interface-->
    <node pkg="ommp_handlers" type="add_planning_box_server_node" name="add_planning_box_server_node" output="screen"/>

</launch>
