<?xml version="1.0"?>
<launch>
  <!-- make map first enter path-->
  <arg name="database_path" default="~/catkin_ws/rtabmap.db"/>
  <arg name="localization" default="true"/>
  <arg name="args" default=""/>
  <arg name="wait_for_transform" default="0.3"/>
  <group ns="rtabmap"><!-- Use RGBD synchronization -->
  <!--Here is a general example using a standalone nodelet, 
         but it is recommended to attach this nodelet to nodelet 
         manager of the camera to avoid topic serialization-->
  <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image" to="/my_camera/rgb/image_raw"/>
      <remap from="depth/image" to="/my_camera/depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="/my_camera/rgb/camera_info"/>
      <remap from="rgbd_image" to="rgbd_image"/>
    <!-- output --><!--
      Should be true for not synchronized camera topics 
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync" value="true"/>
  </node>
  <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
    <param name="database_path" type="string" value="$(arg database_path)"/>
    <param name="frame_id" type="string" value="robot_footprint"/>
    <param name="subscribe_depth" type="bool" value="false"/>
    <param name="subscribe_rgbd" type="bool" value="true"/>
    <param name="subscribe_scan" type="bool" value="true"/>
    <param name="wait_for_trasnform" type="bool" value="true"/>
    <remap from="odom" to="/odometry/filtered"/>
    <remap from="scan" to="/scan"/>
    <remap from="rgbd_image" to="rgbd_image"/>
    <remap from="initialpose" to="/initialpose"/>
    <remap from="goal_out" to="/move_base_simple/goal"/>
    <remap from="/rtabmap/grid_map" to="/map"/>
    <!-- output -->
    <param name="use_action_for_goal" type="string" value="true"/>
    <param name="queue_size" type="int" value="10"/>
    <param name="Reg/Force3DoF" type="string" value="true"/>
    <!-- RTAB-Map's parameters -->
    <param name="RGBD/NeighborLinkRefining" type="string" value="true"/>
    <param name="RGBD/ProximityBySpace" type="string" value="true"/>
    <param name="RGBD/ProximityPathMaxNeighbors" type="string" value="0"/>
    <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)"/>
    <param name="RGBD/AngularUpdate" type="string" value="0.0"/>
    <param name="RGBD/LinearUpdate" type="string" value="0.0"/>
    <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
    <param name="Grid/FromDepth" type="string" value="false"/>
    <!-- occupancy grid from lidar -->
    <param name="Kp/MaxDepth" type="string" value="6.0"/>
    <param name="Icp/CoprrespondenceRatio" type="string" value="0.3"/>
    <param name="Vis/MinInliers" type="string" value="7"/>
    <param name="Vis/InlierDistance" type="string" value="0.25"/>
    <param name="Rtabmap/TimeThr" type="string" value="700"/>
    <param name="Mem/RehearsalSimilarity" type="string" value="0.30"/>
    <param name="Reg/Strategy" type="string" value="1"/>
    <!-- 1=ICP --><!-- ICP parameters -->
    <param name="Icp/VoxelSize" type="string" value="0.02"/>
    <param name="Icp/MaxCorrespondenceDistance" type="string" value="0.35"/>
    <!-- localization mode -->
    <param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
    <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
    <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
  </node>
  </group>
</launch>
